{% extends 'tienda/index.html' %}

{% block titulo %}
<title>Departamentos</title>
{% endblock %}

{% block bienvenido %}
{% endblock %}

{% block contenido %}

    <div class="container mt-5">
        <div class="hero text-center">
            <h1 class="mb-3">Ofertas en todos nuestros productos</h1>
            <p>
                Bienvenido a nuestra tienda en línea.  
                Encuentra los mejores productos, precios increíbles y una excelente atención.
            </p>

            <a href="{% url 'productos' %}" class="btn btn-primary btn-lg mt-3">
                Ver Productos
            </a>

             <a href="{% url 'cliente' %}" class="btn btn-success btn-lg mt-3">
                Ver Cliente
            </a>
             

             <a href="{% url 'venta' %}" class="btn btn-warning btn-lg mt-3">
                Ver Venta
            </a>
            <a href="{% url 'home' %}" class="btn btn-secondary btn-lg mt-3">
                Ir al Home
            </a>
        </div>
    </div>
    
<br>

<div class="container">
    <h2>Departamento de los productos</h2>
</div>

{% if departamentos %}
<table class="table table-primary">
    <thead>
        <tr>
            <th>Id_producto</th>
            <th>Nbre_producto</th>
            <th>Precio_producto</th>
            <th>Sku_producto</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in departamentos %}
        <tr>
            <td>{{ producto.id_producto }}</td>
            <td>{{ producto.nbre_producto }}</td>
            <td>{{ producto.precio_producto }}</td>
            <td>{{ producto.sku_producto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hay productos disponibles.</p>
{% endif %}

{% endblock %}


    